body{
    background: lightgray;
    margin: 0;
}
header{
    background: white;
    padding: 10px;
}
h1{
    color: black;
    margin: 0;
    padding: 10px;
}
.page{
    width: 600px;
    margin: auto;
}
.feed{
    background: white;
    width: 100%;
    margin-top: 10px;
}
.box{
    display: flex;
}
.title{
    margin: 0;
    width: 80%;
}
.date{
    margin: 0;
    padding: 10px;
    color: gray;
}
h2{
    padding: 10px;
}
p{
    padding: 10px;
}